* {
    box-sizing: border-box;
}
body {
    background-color: #ecb47f;
    margin: 0;
}
#projects {
    background-color: rgb(211, 211, 211);
    min-width: 100%;
    min-height: 92vh;
    padding-top: 2rem;
}
.project {
    height: 4rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    grid-gap: 1rem;
    margin-top: 0;
}
.project div {
    width: 9rem;
}
.project:hover {
    background-color: rgb(189, 189, 189);
}
#projects > div, #tasks > div {
    display: flex;
    justify-content: center;
    align-items: center; 
}
#tasks {
    background-color: rgb(250, 250, 250);
    min-width: 100%;
    min-height: 92vh;
}
#projBtn, #taskBtn {
    height: 5vh;
    width: 5vh;
}
#content {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10rem 1fr;
    justify-items: center;
    align-items: center;
}
.form-container {
    position: fixed;
    height: 40rem;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #FAF9F6;
    display: grid;
    justify-content: center;
    grid-auto-rows: 1fr;
}
.form-container input {
    height: 4rem;
}
.hidden {
    visibility: hidden;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
}
.task {
    display: grid;
    grid-template-columns: 30%,  70%;
}
h2 {
    background-color: rgb(20, 20, 20);
    color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}