:root {
    --title-bg-color: #cbd5e1;
    --proj-bg-color: #f1f5f9;
    --white-bg-color: #f8fafc;
    --black-bg-color: #1e293b;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#content > h1 {
    background-color:var(--title-bg-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects {
    background-color: var(--proj-bg-color);
    min-width: 100%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.project {
    height: 4rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    grid-gap: 1rem;
    margin-top: 0;
}
.project div {
    width: 9rem;
}
.project:hover {
    background-color: #e2e8f0;
}
#active {
    background-color: #cbd5e1;
}
#projects > div {
    display: flex;
    justify-content: center;
    align-items: center; 
}
#tasks {
    background-color: var(--white-bg-color);
    min-width: 100%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.checked {
    background-color: #cbd5e1 !important;
}
#projBtn, #taskBtn {
    height: 5vh;
    width: 5vh;
}
#content {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10vh 90vh;
    justify-items: center;
    align-items: center;
}
.form-container {
    position: fixed;
    height: 40rem;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: var(--white-bg-color);
    display: grid;
    justify-content: center;
    grid-auto-rows: 1fr;
}
.form-container input {
    height: 4rem;
}
.hidden {
    visibility: hidden;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
}
#tasks > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.task {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 14px;
    height: 5rem;
}
.task input {
    width: 2rem;
    height: 2rem;
}
.checked:after {
    position: absolute;
    left: 2.5%;
    top: 50%;
    height: 2px;
    background: var(--black-bg-color);
    content: "";
    width: 95%;
    display: block;
    transform: rotate(0.2deg);
  }
.task:hover {
    border: 2px solid grey;
}
h2 {
    background-color: var(--black-bg-color);
    color: var(--white-bg-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
::-webkit-scrollbar {
    width: 5px;
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--black-bg-color);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(172, 172, 172);
    border-radius: 10px;
  }
  #projForm {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    margin-top: 1rem;
    padding: .5rem;
    justify-items: center;
  }
  #cancel, #submit {
    height: 2rem;
    width: 5rem;
    border: 1px solid grey;
    border-radius: 6px;
  }
  #cancel {
    background-color: rgb(255, 142, 142);
  }
  #submit {
    background-color: rgb(151, 255, 151);
  }
  #projForm input:first-child {
    grid-column: 1 / 3;
    height: 3rem;
    width: 12rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
  }
  